.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    background-color: var(--bg);
    padding: 12px;
    border-radius: 10px;
}

.title{
    font-weight: bold;
}

.user{
    display: flex;
    flex-direction: row;
}

.spacing{
    margin-left: 8px;
}